@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');


* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: 'Nunito Sans', sans-serif; 
  /* padding: 20px; */
  background-color: #202d36;
  color: #fff;
}

/* Header */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3743;
  padding: 10px 20px;
}

/* Filter */

.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
}

.filter .form-control{
  width: 100%;
}

.filter .form-control input{
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}


.filter .form-control input::placeholder {
  color: #fff;
}

.filter .region-filter{
  width: 100%;
}

.filter .region-filter .select{
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

/* Grid */

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.grid article{
  /* box-shadow: 0 10px 10px rgba(32, 45, 54, 0.5); */
}

.grid article img {
  border-radius: 5px 5px 0 0;
  /* height: 250px; */
}

.grid .details{
  background-color: #2b3743;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}

.grid .details h3{
  padding-bottom: 10px;
}

.grid .details h4{
  padding-bottom: 5px;
}

.grid .details span{
 font-weight: 300;
}


.information .button{
  background-color: #2b3743;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  margin: 3rem 2rem;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  max-width: 6rem;
}

.box{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  flex: 1 1 0;
}

.text-container .data{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-container .data *{
  padding-top: 0.5rem;
}

.text-container p{
  font-weight: 600;
}

.text-container p span{
  font-weight: 300;
}

.text-container h4{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.text-container h4 span{
  background-color: #2b3743;
  text-align: center;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  max-width: 6rem;
  margin: 0 0 30px;
}

@media (min-width: 640px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .filter{
    flex-direction: row;
    justify-content: space-between;
  }

  .filter .form-control{
    width: auto;
  }

  .filter .form-control input{
    width: auto;
    margin: 0;
  }

  .filter .region-filter{
    width: auto;
  }


  .grid{
    grid-template-columns: repeat(3, 1fr);
  }

  .information{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .information .button{
    margin: 3rem 5rem;
  }



  .box{
    flex-direction: row;
    padding: 1rem 5rem;
  }

  .box  *{
    width: 100%;
  }
  .box .image-container{
    width: 100%;
    height: 600px;
  }
  
  .box .image-container img{
    box-shadow: -2px 1px 5px 14px rgb(31, 44, 53);
  }

  .text-container{
    padding: 2rem 0.5rem 0.5rem 2rem;
  }

  .text-container h1{
    padding-bottom: 1rem;
  }

  .text-container .data{
    flex-direction: row;
  }

  .text-container .data *{
    padding-top: 1rem;
  }

  .text-container h4 span{
    padding: 12px;
  }
}

@media (min-width: 992px) {
  .header, .filter, .grid{
    padding: 20px 100px;
  }
  .grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 60px; 
  }
}